@import "~bootstrap/scss/bootstrap";

* {
  outline: 0!important;
}

#page-content {
  padding: 50px 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

.card {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  z-index: 10;
  border:0;
  transform: scale(1);

  @media screen and (min-width: 981px) {
    &:not(.my-images):hover {
      z-index: 200;
      img {

        transform: scale(1.1);
      }
      .card-body {
        top:100%;
        box-shadow: 0 0 15px rgba(0, 0, 0, .15);
        transition: top ease-out 200ms;
      }
    }

    img {
      border-radius: 0;
      cursor: pointer;
      position: relative;
      z-index: 10;
      transition: transform ease 300ms;
      box-shadow: 0 0 15px rgba(0, 0, 0, .15);
    }

    .card-body {
      position: absolute;
      background: #fafafa;
      top: 0;
      z-index: 5;
    }
  }
  .btn-default {
    color: #4a4a4a;
    outline: none !important;

    &:hover {
      color: #94d4de;
    }
  }

  h4 {
    font-size: 16px;
  }
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: white;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 10px;
  border-radius: 50%;
  z-index: 30;
  transform: scale(1);
  transition: transform ease 300ms;
  color: #d96a61;

  &:hover {
    transform: scale(1.2);
  }
}

.opened-large-image {
  overflow: hidden;
}

.large-image {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, .5);
  z-index: 9999;
  padding: 100px;
  text-align: center;
  transition: all ease 300ms;

  a {
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    background: white;
    line-height: 50px;
    border-radius: 50%;
    transition: background ease 300ms;
    &:hover {
      background: #4a4a4a;
    }
    i {
      color: #d96a61;
      line-height: 1;
    }
  }

  img {
    box-shadow: 0 0 50px rgba(0, 0, 0, .3);
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
  }
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  .btn,
  .btn-group {
    float: none;
    display: table-cell;
    width: 1%;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}

.rated {
  &.disliked i {
    color: #373737;
  }
  &.liked i {
    color: #8ad984;
  }
  &.favored i {
    color: #d96a61;
  }
  &.stared i {
    color: #ebdb7b;
  }
}

.upload-form {
  padding:25px;
  box-shadow: 0 0 25px rgba(0,0,0,.2);
}

button {
  cursor: pointer;
}
label{
  display: none;
}

.form-control{
  border-radius: 0;
  border:0;
  border-bottom:2px solid rgba(0,0,0,.2);
  padding-left:0;
  background: transparent!important;

  &:focus {
    border-color: #d96a61;
  }
}
.btn-primary {
  background-color: #d96a61;
  border-color: #d96a61;
  &:hover {
    background-color: darken(#d96a61, 5%);
    border-color:darken(#d96a61, 5%);
  }
}